<div class="center-block jumbotron sub-box">
  <h1 class='main'>What's the point, anyway?</h1><br/>
  <img class='about-pic' src='/images/eat.png'/><br/>

  <div class='about'>
  	<p class='text-muted'><strong class='strong-text'>Don't let this happen to you!</strong><br/><br/>How many times have you been there? Whether alone or with other people, you start to get a little hungry...but you can't decide what to eat. So you put it off, and then you start to get even hungrier, a little irritable or maybe even a little angry...HANGRY. It can be hard to figure out where to eat, and the longer you put it off or the more time you spend on a Google search trying to figure it out can be dangerous. </p>

  	<p class='text-muted'>Let's take the guesswork out of it! Start the food-finder now before it's too late!</p>
  </div>

</div>