 <div class="jumbotron center-block sub-box">
    <h1 class="main">How much do you want to spend?</h1>

    <div class = 'row money'>
    	<p class=''><a class="btn btn-default btn-sm btn-primary glyphicon glyphicon-usd" role="button" value="1" ui-sref="cuisine" ng-click='saveAnswer("price", 1)' ng-model="priceData"></a></p>
 
    	<p class=''><a class="btn btn-default btn-primary glyphicon glyphicon-usd" role="button" value="2" ui-sref="cuisine" ng-click='saveAnswer("price", 2)' ng-model="priceData"></a></p>

    	<p class=''><a class="btn btn-default btn-lg btn-primary glyphicon glyphicon-usd" role="button" value="3" ui-sref="cuisine" ng-click='saveAnswer("price", 3)' ng-model="priceData"></a></p>
    </div>

  </div>